body {
    background-color: #f5eadc;
background-image: url("https://www.transparenttextures.com/patterns/natural-paper.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.logo{
    width: 92%;
  padding: 8% 4%;
}
